<footer class="hl-footer bg-white border-t border-line pt-10 md:pt-12 pb-6 md:pb-8 mt-auto">
  <div class="container-hl">

    <%# ----- 4 列内容区 (桌面 4 列 / 平板 2 列 / 手机 1 列) ----- %>
    <div class="hl-footer-grid">

      <%# 第 1 列：品牌介绍 %>
      <div>
        <div class="hl-footer-brand">HOLD LE</div>
        <p class="hl-footer-tagline">
          欢迎留下。欢迎思考。欢迎在股市里做一个清醒的人。<br><br>
          投资最终不是找到一个答案<br>
          而是建立面对未知的方法
        </p>
      </div>

      <%# 第 2 列：导航 %>
      <div>
        <h5 class="hl-footer-col-title">导航</h5>
        <ul>
          <li><%= link_to "首页", root_path, class: "hl-footer-link" %></li>
          <li><%= link_to "金字塔", pyramid_path, class: "hl-footer-link" %></li>
          <li><%= link_to "交易课", courses_path, class: "hl-footer-link" %></li>
          <li><%= link_to "加入会员", join_path, class: "hl-footer-link" %></li>
          <li><%= link_to "关于", root_path, class: "hl-footer-link" %></li>
        </ul>
      </div>

      <%# 第 3 列：内容 %>
      <div>
        <h5 class="hl-footer-col-title">内容</h5>
        <ul>
          <li><%= link_to "视频分享", video_path, class: "hl-footer-link" %></li>
          <li><a href="https://www.youtube.com/@EmileSu" class="hl-footer-link">YouTube-频道</a></li>
          <li><a href="https://space.bilibili.com/270587047" class="hl-footer-link">哔哩哔哩-B站频道</a></li>
        </ul>
      </div>

      <%# 第 4 列：联系 %>
      <div>
        <h5 class="hl-footer-col-title">联系</h5>
        <ul>
          <li class="hl-footer-static">网站留言</li>
          <li class="hl-footer-static">邮箱：emilesu@qq.com</li>
          <li class="hl-footer-static">微信群：暂时没有</li>
        </ul>
      </div>
    </div>

    <%# ----- 版权条 ----- %>
    <div class="hl-footer-bottom">
      <div class="hl-footer-copy">
        &copy; <%= Date.current.year %> HOLD LE &middot; Designed by Emile Su
        <span class="hl-footer-divider">|</span>
        本网站不提供投资建议，投资有风险，决策需谨慎
      </div>
      <div>
        <a href="#" class="hl-footer-top">返回顶部 &uarr;</a>
      </div>
    </div>
  </div>
</footer>