<%= turbo_stream.replace 'sector-container' do %>
<div id="sector-container">
  <select name="sector" id="pyramid-sector" class="px-3 py-2 text-hl-13 border border-line rounded focus:border-link w-40 bg-white" <%= 'disabled' unless @can_select_sector %>>
    <% if @can_select_sector %>
      <option value="">全部</option>
    <% end %>
    <% @sectors.each do |sector| %>
      <option value="<%= sector %>" <%= 'selected' if !@can_select_sector && sector == '公用事业' %>><%= sector %></option>
    <% end %>
  </select>
  <% unless @can_select_sector %>
    <span class="text-hl-11 text-muted-3 ml-2">会员可查看其他行业</span>
  <% end %>
</div>
<% end %>
